version: 2
ethernets:
  nic0:
    match:
      macaddress: '${mac}'
    dhcp4: false
    addresses:
      - ${ip_addr}/${prefix}
    routes:
      - to: default
        via: ${gateway}
    nameservers:
      addresses:
%{ for d in dns_list ~}
        - ${d}
%{ endfor ~}
